In [1]:
import pandas as pd

### 读取excel文件

In [3]:
excel_file = r'/home/excel/python_program/data/lab1/SH#600519.xlsx'

data = pd.read_excel(excel_file)

In [4]:
excel_file

'/home/excel/python_program/data/lab1/SH#600519.xlsx'

### 新建一个 DataFrame

In [35]:
df = pd.DataFrame(data)

### 获取dataframe的列标题

In [37]:
head = df.columns.values.tolist()

In [38]:
'''
原列名
'''
head

['600519 贵州茅台 日线 前复权',
 'Unnamed: 1',
 'Unnamed: 2',
 'Unnamed: 3',
 'Unnamed: 4',
 'Unnamed: 5',
 'Unnamed: 6']

In [42]:
'''
修改列名：
    df.rename(columns={'原列名'：'新列名'},inplace=True)
'''
for i in range (len(head)):
    df.rename(columns={head[i]:df.iloc[0,i]},inplace=True)

In [44]:
'''
修改后的列名
'''
head=df.columns.values.tolist()

['      日期', '    开盘', '    最高', '    最低', '    收盘', '    成交量', '    成交额']

In [46]:
'''
修改后的列名
'''
head=df.columns.values.tolist()

In [72]:
df = df.drop(0,axis=0,inplace=False)

In [87]:
df.loc[(df[head[2]]>0),[head[0],head[1],head[2],head[3],head[4],head[5],head[6]]].head()

                       日期     开盘     最高     最低     收盘      成交量        成交额
1237  2007-01-15 00:00:00  -3.44   0.27  -3.44  -1.51  3067052  305993920
1239  2007-01-17 00:00:00  -3.03   1.02  -4.21  -2.63  2591604  257353984
1240  2007-01-18 00:00:00  -2.72   2.89  -3.47   2.69  3064535  315103136
1241  2007-01-19 00:00:00   2.69    7.7   2.69   5.79  2225551  243504208
1242  2007-01-22 00:00:00   6.36  10.79   6.28   8.69  2552122  290839232

In [89]:
import pandas as pd

excel_file = r'/home/excel/python_program/data/SH#600519.xlsx'

data = pd.read_excel(excel_file)

df = pd.DataFrame(data)

'''
原列名
'''
head = df.columns.values.tolist()

'''
修改列名：
    df.rename(columns={'原列名'：'新列名'},inplace=True)
'''
for i in range (len(head)):
    df.rename(columns={head[i]:df.iloc[0,i]},inplace=True)

'''
修改后的列名
'''
head=df.columns.values.tolist()

'''
删除第一行
'''
df = df.drop(0,axis=0,inplace=False)

                       日期     开盘     最高     最低     收盘      成交量        成交额
1237  2007-01-15 00:00:00  -3.44   0.27  -3.44  -1.51  3067052  305993920
1239  2007-01-17 00:00:00  -3.03   1.02  -4.21  -2.63  2591604  257353984
1240  2007-01-18 00:00:00  -2.72   2.89  -3.47   2.69  3064535  315103136
1241  2007-01-19 00:00:00   2.69    7.7   2.69   5.79  2225551  243504208
1242  2007-01-22 00:00:00   6.36  10.79   6.28   8.69  2552122  290839232

#### i. 输入日期

In [96]:
date = input()
dates = pd.to_datetime(date)

2007-01-16 00:00:00

In [97]:
df.loc[
    (df[head[0]]==dates),
     [head[0],head[1],head[2],
      head[3],head[4],head[5],
      head[6]
     ]
    ].head()

                       日期     开盘     最高     最低     收盘      成交量        成交额
1238  2007-01-16 00:00:00   -1.7  -0.63  -4.01  -2.93  3503970  344077696

#### ii. 收盘价

In [121]:
flag=(int)(input())

2

In [122]:
df.loc[
        (df[head[4]]>flag),
       [head[0],head[1],head[2],
        head[3],head[4],head[5],
        head[6]
       ]
      ].head()

                       日期     开盘     最高     最低     收盘      成交量        成交额
1240  2007-01-18 00:00:00  -2.72   2.89  -3.47   2.69  3064535  315103136
1241  2007-01-19 00:00:00   2.69    7.7   2.69   5.79  2225551  243504208
1242  2007-01-22 00:00:00   6.36  10.79   6.28   8.69  2552122  290839232
1243  2007-01-23 00:00:00   9.14   9.89   1.85   2.74  4178280  450098208
1244  2007-01-24 00:00:00    2.9   8.54    2.9   6.12  1940422  212553648

#### iii. 波动

In [111]:
wave = (float)(input())

0.1

In [113]:
df.loc[ 
      ( df[head[2]] > (wave+df[head[3]]) ),
        [head[0],head[1],head[2],
         head[3],head[4],head[5],
         head[6]]
      ].head()

                    日期     开盘     最高     最低     收盘       成交量         成交额
1  2001-08-27 00:00:00 -70.43 -69.78 -70.76 -70.23  40631800  1410347136
2  2001-08-28 00:00:00 -70.34 -69.94 -70.41 -69.96  12964700   463463136
3  2001-08-29 00:00:00 -69.94 -69.94 -70.12 -70.06   5325200   194689616
4  2001-08-30 00:00:00 -70.08 -69.84 -70.14 -69.92   4801300   177558560
5  2001-08-31 00:00:00 -69.91 -69.81 -69.98 -69.93   2323100    86231000

#### iv. 成交量高于输入

In [114]:
turnover = (int)(input())

900000

In [115]:
df.loc[
      (df[head[5]]>turnover),
       [head[0],head[1],head[2],
        head[3],head[4],head[5],
        head[6]]
      ].head()

                    日期     开盘     最高     最低     收盘       成交量         成交额
1  2001-08-27 00:00:00 -70.43 -69.78 -70.76 -70.23  40631800  1410347136
2  2001-08-28 00:00:00 -70.34 -69.94 -70.41 -69.96  12964700   463463136
3  2001-08-29 00:00:00 -69.94 -69.94 -70.12 -70.06   5325200   194689616
4  2001-08-30 00:00:00 -70.08 -69.84 -70.14 -69.92   4801300   177558560
5  2001-08-31 00:00:00 -69.91 -69.81 -69.98 -69.93   2323100    86231000

#### v. 成交额

In [117]:
sums = (int)(input())

9026819

In [118]:
df.loc[(df[head[6]]>sums),
       [head[0],head[1],head[2],
        head[3],head[4],head[5],head[6]]
      ].head()

                    日期     开盘     最高     最低     收盘       成交量         成交额
1  2001-08-27 00:00:00 -70.43 -69.78 -70.76 -70.23  40631800  1410347136
2  2001-08-28 00:00:00 -70.34 -69.94 -70.41 -69.96  12964700   463463136
3  2001-08-29 00:00:00 -69.94 -69.94 -70.12 -70.06   5325200   194689616
4  2001-08-30 00:00:00 -70.08 -69.84 -70.14 -69.92   4801300   177558560
5  2001-08-31 00:00:00 -69.91 -69.81 -69.98 -69.93   2323100    86231000